ul {
  list-style-type: none;
  font-size: 25px;
  }
  .header {
    background-image: url("https://assets.bonappetit.com/photos/5c366551f212512d0e6cefd0/16:9/w_2560%2Cc_limit/Basically-Coffee-0219-03.jpg");
    height: 700px;
    width: 99%
  }
  #h1 {
    color: darkbleu;
    text-align: center;
    font-size: 100px;
    position: relative;
    background-color: rgba(252, 231, 212, 0.50);
    top: 40%;
 }
  body {
    background-color: #f7d5c4;
  }
.top-arabica,
.top-robusta,
.top-liberica,
.top-excelsa{
  margin-right: 25px;
  text-align: center;
  margin-top:15px;
  display: inline-block;
  color: rgba(227, 104, 43, 1);;
}
main {
  text-align: center;
  margin: 60px 70px;
  padding: 30px 40px 30px 40px;
  background-color: #FFFFFF;
}
.types {
  font-size: 30px;
  font-color:
}
.Arabica {
  background-color: #9EB599;
  padding-left: 25px;
  padding-right: 25px;
}
.Arabica h2 {
  text-align: left;
}
.Robusta {
  background-color:  #683C2C;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  position: relative;
}
.Robusta h2 {
  text-align: left;
}
.Liberica {
 background-color: #4C352D; 
 padding-left: 25px;
padding-right: 25px;
}
.Liberica h2 {
  text-align: left;
}
.Excelsa {
   background-color: #352926; 
  padding-left: 25px;
  padding-right: 25px;
}
.Excelsa h2 {
    text-align: left;
}
