.ul {
  color: rgb(56, 94, 151);
  font-family: 'Balsamiq Sans', sans-serif;
  font-size: 35px;
  list-style-type: none;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  }
.ul:hover {
  color: green;
}
  .ul li {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: white;
    text-align: center;
    border-radius: 3px;
  }
  a {
    text-decoration: none;
  }
  .header {
    background-image: url("https://as2.ftcdn.net/jpg/02/81/56/25/480_F_281562533_gvEKxMVjTgjOTBvWqjYoFG5D80GCiw7E.jpg?token=1717463018_TdnLv69g-kZf-vJMQ768dx88JClWiGwolRusKWClKww");
    height: 100vh;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  #h1 {
    color: rgb(56, 94, 151);
    text-align: center;
    font-size: 100px;
    position: relative;
    background-color: rgba(231, 232, 209,0.9);
    top: 40%;
    font-family: "Merienda", cursive;
    font-weight: wight; 
 }

 body {
    background-color: rgb(231, 232, 209);
  }
 main {
  text-align: center;
  margin: 61px 70px;
  padding: 30px 40px 30px 40px;
  background-color: #FFFFFF;
  border-radius: 8px;
}
.types {
  font-size: 51px;
  font-family: 'Balsamiq Sans', sans-serif;
  font-weight: 700;
}
.welcome {
  font-size: 26px;
  font-family: 'Balsamiq Sans', sans-serif;
  font-weight: 400;
}
.welcome p {
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}
.Arabica {
  background-color: #9EB599;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 11px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Arabica h2 {
   text-align: left;
   font-family: "Protest Revolution", sans-serif;
   font-weight: 400;
   font-size: 50px;
   color: white;
}
.Arabica p{
  font-size: 25px;
  font-family: 'Balsamiq Sans', sans-serif;
  color: white;
}
.Robusta {
  background-color:  #683C2C;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 11px;
}
.Robusta h2 {
   text-align: left;
   font-family: "Rubik Moonrocks", sans-serif;
   font-weight: 400;
   font-size: 50px;
   color: white;
   }
.Robusta p {
     font-size: 25px;
     font-family: 'Balsamiq Sans', sans-serif;
     color: white;
}
.Liberica {
 background-color: #4C352D; 
 padding-left: 25px;
 padding-right: 25px;
 padding-top: 5px;
 padding-bottom: 11px;
}
.Liberica h2 {
   text-align: left;
   font-family:"Rowdies", sans-serif;
   font-weight: 400;
   font-size: 50px;
   color: white;
}
.Liberica p {
  font-size: 25px;
  font-family: 'Balsamiq Sans', sans-serif;
  color: white;
}

.Excelsa {
  background-color: #352926; 
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.Excelsa h2 {
  text-align: left;
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-size: 50px;
  color: white;
}
.Excelsa p{
  font-size: 25px;
  font-family: 'Balsamiq Sans', sans-serif;
  color: white;
}
.roasting {
  text-align: center;
  font-size: 30px;
  font-family: 'Balsamiq Sans', sans-serif;
  border-top: dotted black 1px;
  border-bottom: dotted black 1px;
}
.roasting-arabica {
  text-align: center;
  border: 2px solid black;
  margin-top: 15px;
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 40px;
  margin-right: 40px;
  }

.roasting-arabica h1 {
  font-family: "Protest Revolution";
  font-size: 30px;
}
.roasting-arabica h3 {
  font-family: 'Balsamiq Sans', sans-serif;
  color: #9EB599;
}
.roasting-arabica p {
  font-family: 'Balsamiq Sans', sans-serif;
  font-size: 20px;
}
.roasting-robusta {
  text-align: center;
  border: 2px solid black;
  margin-top: 15px;
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 40px;
  margin-right: 40px;
}
.roasting-robusta h1 {
  font-family: "Rubik Moonrocks";
  font-size: 30px;
}
.roasting-robusta h3 {
  font-family: 'Balsamiq Sans', sans-serif;
  color: #4C352D;
}
.roasting-robusta p {
  font-family: 'Balsamiq Sans', sans-serif;
  font-size: 20px;
}
.roasting-liberica {
  text-align: center;
  border: 2px solid black;
  margin-top: 15px;
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 40px;
  margin-right: 40px;
  }
  .roasting-liberica h1 {
    font-family: "Rowdies", sans-serif;
    font-size: 30px;
}
.roasting-liberica h3 {
  font-family: 'Balsamiq Sans', sans-serif;
  color: #683C2C;
}
  .roasting-liberica p {
    font-family: 'Balsamiq Sans',sans-serif;
    font-size: 20px;
  }
.roasting-excelsa {
  text-align: center;
  border: 2px solid black;
  margin-top: 15px;
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 40px;
  margin-right: 40px;
}
.roasting-excelsa h1 {
  font-family: "Aladin", system-ui;
  font-size: 30px;
}
.roasting-excelsa h3 {
   font-family: 'Balsamiq Sans', sans-serif;
   color: #9EB599; 
}
.roasting-excelsa p {
  font-family: 'Balsamiq Sans',sans-serif;
  font-size: 20px;
}
footer {
  background-color: green;
  margin: 15px;
  padding: 15px;
  font-size: 15px;
  font-weight: 400;
  font-family: Helvetica;
  text-align: center;
}
